* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#game {
    align-items: center;
    background-color: aqua;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
}

#game-info {
    border: 2px solid white;
    border-radius: 10px;
    bottom: calc(((100% - 500px)/2) + 30px);
    height: auto;
    padding: 0 10px;
    position: absolute;
    width: auto;
}